/* CSS Font Lists imported from fonts.google.com
    Nav Link Font
    font-family: 'Damion', cursive;

    Logo Font
    font-family: 'Silkscreen', cursive;

    Hero image Font
    font-family: 'Rubik Burned', cursive;

    Main Site Text Font
    font-family: 'Ubuntu Condensed', sans-serif;
 */


/* Body class, background color, etc */
body {
    background-image: linear-gradient(20deg, rgb(48, 48, 48), rgb(8, 8, 8), rgb(28, 28, 28));
    min-height: 100vh;
    margin: 0;
}
@media only screen and (max-width: 320px) {
    body {
        min-height: 110vh;
    }
}

    /* Navigation Bar,
    Styles, fonts, sizes, etc */
    .topnav {
        max-height: 7vh;
        min-height: 5.5vh;
        min-width: 100%;
        display: inline-flex;
        flex-direction: row;
        background-image: linear-gradient(rgb(0, 0, 0) 10%, rgb(32, 32, 32)60%, rgb(0, 0, 0) 100%);
    }
    .topnav h1 {
        font-size: 2.5vh;
        color: red;
        font-family: 'Silkscreen', cursive;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        text-align: center;
        padding-left: 1.5vh;
        text-shadow: 0px 1px 2px white;
        padding-bottom: 2px;
    }
    @media only screen and (max-width: 340px) {
        .topnav h1 {
            padding-left: 1.4vh;
            padding-right: 1vh;
        }
    }
    .topnav a {
        padding-right: 2vh;
        color: rgb(170, 170, 170);
        font-size: 2.2vh;
        font-family: 'Damion', cursive;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration-line: none;
    }
    .topnav a:hover {
        color: rgb(237, 237, 237);
        text-decoration: none;
    }
    .topnav a.active {
        color: rgb(255, 255, 255);
        text-shadow: 1px 2px 2px rgb(101, 101, 101);
        text-decoration: none;
    }
    .topnav i {
        color: aliceblue;
    }
    hr.topnav-bdr {
        height: 0.2vh;
        border-style: none;
        width: 100%;
        background-image: linear-gradient(90deg, white, black, white, black, white);
        margin: 0;
    }

    /* Main Contact information Col */
.contact-form {
        color: rgb(92, 0, 0);
        text-align: center;
        margin-top: 4vh;
        font-size: 2vh;
        width: 65%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        padding: 1vh;
        background-image: linear-gradient(25deg, rgb(118, 118, 118), rgb(248, 248, 248), rgb(177, 177, 177));
        border-radius: 50px;
        border: 1px solid rgb(94, 0, 0);
        box-shadow: 0px -2px 6px rgb(99, 99, 99);
}
@media only screen and (max-width: 450px) {
    .contact-form {
        margin-top: 15vh;
        width: 85%;
    }
}
.contact-form:hover {
    box-shadow: 0px -4px 8px rgb(214, 214, 214);
    border: 1px solid rgb(171, 0, 0)
}
.contact-form h1 {
    font-family: 'Silkscreen', cursive;
    text-shadow: 0px 2px 4px black;
}
.contact-form h1:hover{
    color: rgb(220, 0, 0);
}
.contact-form h2, h3, h4, h5 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 2vh;
}
.contact-form h2:hover, h3:hover, h4:hover, h5:hover {
    color: rgb(220, 0, 0);
    font-weight: 800;
} 
.contact-form input {
    border-radius: 5px;
    border-style: none;
    height: 2.2vh;
    margin-left: 1vh;
}
.contact-form textarea {
    max-width: 90%;
    border-radius: 20px;
    border-style: none;
    padding: 15px;
    margin-top: 2vh;
}
.contact-form p {
    font-size: 2vh;
    font-family: 'Damion', cursive;
    margin-top: 5px;
}
.contact-form hr {
    width: 75%;
    border: none;
    height: 1px;
    background-image: linear-gradient(75deg, rgb(255, 255, 255), rgb(170, 170, 170), rgb(43, 43, 43));
}

input#submit {
    color: white;
    background-color: black;
    padding: 5px;
    width: 8vh;
    height: 5vh;
    border-radius: 20px;
    font-family: 'Damion', cursive;
    cursor: pointer;
    font-size: 1.7vh;
}
/*Return Home Button Style and Design */

.rtn-home-btn {
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 30%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Silkscreen', cursive;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.rtn-home-btn a {
    color: rgb(116, 0, 0);
    text-decoration: none;
}
.rtn-home-btn a:hover {
    color: rgb(223, 0, 0);
}
@media only screen and (max-width: 900px) {
    .rtn-home-btn a {
        color: rgb(228, 0, 0);
    }
}

/* Footer Styles and Layout */

.footer-col p {
    font-size: 1.7vh;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Silkscreen', cursive;
    text-shadow: 0px 2px 6px black;
}